OPENAI_API_KEY="sk-p....."
OPENAI_MODEL=gpt-4o-mini
MONGODB_URL=mongodb+srv://himanshu:Himanshu%4029@clinicaiindia.q92ubxx.mongodb.net/clinic_ai?retryWrites=true&w=majority&appName=clinicaiindia
MONGODB_DB_NAME=clinic_ai
TRANSCRIPTION_SERVICE=whisper
CORS_ORIGINS=http://localhost:3000
LOG_LEVEL=INFO
FFMPEG_PATH=ffmpeg
FFPROBE_PATH=ffprobe
QUEUE_CONNECTION_STRING=
STORAGE_PROVIDER=local
WHATSAPP_ACCESS_TOKEN=
WHATSAPP_PHONE_NUMBER_ID="1016488831554032"
WHATSAPP_VERIFY_TOKEN=
WHATSAPP_API_VERSION=v21.0
WHATSAPP_INTAKE_TEMPLATE_NAME="opening_msg"
WHATSAPP_INTAKE_TEMPLATE_LANG_EN=en_US
WHATSAPP_INTAKE_TEMPLATE_LANG_HI=hi
